<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
      integrity="sha512-5fsy+3xG8N/1PV5MIJz9ZsWpkltijBI48gBzQ/Z2eVATePGHOkMIn+xTDHIfTZFVb9GMpflF2wOWItqxAP2oLQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Login</title>
  </head>
  <body>
    <div style="background-color: bisque; text-align: center; width: 50%; margin: 0 auto;">
      <h1>Login</h1>
      <ul>
        <% if(messages.yesss_message) { %>
        <li><%= messages.yesss_message %></li>
        <% } %>
      </ul>

      <ul>
        <% if(messages.error){ %>
        <li><%= messages.error%></li>
        <% } %>
      </ul>
      <form action="/users/login" method="POST">
        <div>
          <input
            type="text"
            id="email"
            name="email"
            placeholder="EMAIL"
            required
          />
        </div>
        <div>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="PASSWORD"
            required
          />
        </div>
        <div>
          <input type="submit" value="Login" />
        </div>
      </form>
      <a href="/users/register">Have no account? Register</a>
    </div>
  </body>
</html>
